<!DOCTYPE html>
<html>

<head>
    <title>Pawsome</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Bitter|Volkhov" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../public/assets/css/style.css" />
</head>

<body>
    <div class="landing">
        <div class="left">
            <h1 class="main-title col-xs-10 col-xs-offset-1">Pawsome</h1>
            <h3 class="col-xs-12 sub-heading">Don't know what animal is right for you? We got your back by matching you with the perfect pet based on your lifestyle by connecting with local animal shelters. Getting a best friend while saving lives, now that's what I call pawsome.</h3>
            <button class="btn btn-default col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 slide">Learn more</button>
        </div>
    </div>
    <div class="containter-fluid about">
        <img src="../media/Snapshots/black-lab2.png" alt="picture of dog smiling" class="doggo col-sm-5 col-md-6" id="get-rid-dog">
        <div id="about-text" class="project">
            <h2 class="text-center  animate1">Did you know?</h2>
            <p class="text-center animate1">Over <strong>six million</strong> animals enter a shelter each year, and over a <strong>million</strong> animals are euthanized. <strong>90%</strong> of dogs that are adopted from shelters are healthy and ready to go.</p>
            <hr>
            <h2 class="text-center double animate2">Our mission</h2>
            <p class="text-center animate2">We strive to connect as many responsible pet owners with pets that need a home the most.</p>
            <hr>
            <h2 class="text-center double animate3">How are we going to do this?</h2>
            <p class="text-center animate3 last-text">By just taking a quick survey, we are able to connect with numerous animal shelters near you to find your future best friend.</p>
        </div>
    </div>
    <div class="get-started">
        <h1 class="text-center col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">If you want to make a difference,</h1>
        <h3 class="text-center col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">Take the pawsome survey to match with an amazing companion.</h3>
        <button class="btn-primary text-center col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 get-started-button" onclick="window.location.href='https://pawsome-gf.herokuapp.com/survey'">Click Here!</button>
        <img src="../media/Snapshots/peeking.png" class="text-center col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script type="text/javascript" src="../public/assets/pawsome.js"></script>
</body>

</html>
