<!DOCTYPE html>
<html>
<head>
	<title>Shelters</title>
	 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Bitter|Volkhov" rel="stylesheet">
    <style type="text/css">
    	* {
    		margin: 0;
    		padding: 0;
    	}

    	body {
    		background-color: rgba(33, 161, 225, 0.8);
    	}
    	.container-fluid {
			background-color: #fff;
			margin-top: 50px;
			border-radius: 10px;
			margin-bottom: 40px;
		}

		h1 {
			margin: 30px;
		}

		textarea {
			margin-top: 100px;
			margin-bottom: 20px;
		}

		input {
			margin: 10px;
		}

		button {
			padding: 15px;
		}

		p {
			color: black;
		}

		.nav {
	background-color: #ffffff;
	width: 100%;
	margin-bottom: 30px;
}

        img {
            max-width: 450px;
            max-height: 450px;
            overflow: hidden;
        }

		.photo {
			border: 1px solid #21a1e1;
		}



    </style>
</head>
<body>
<div class="nav">
    <ul>
    	<li>
        	<a href="https://pawsome-gf.herokuapp.com/">Pawsome</a>
      	</li>

      	<li>
        	<a href="https://pawsome-gf.herokuapp.com/survey">Survey</a>
      	</li>
     </ul>
</div>

	<div class="container-fluid text-center quotes col-xs-12 col-sm-10 col-sm-offset-1 text-center">
	<h1 class="text-center">Add to the conversation!</h1>
    <form method="POST" action="/new" enctype="multipart/form-data">
    	<textarea name="dog" class="col-xs-8 col-xs-offset-2" placeholder="Why do you love dogs?"></textarea>
    	<input type="file" name="image" class="col-xs-8 col-xs-offset-2 photo" placeholder="upload a photo of your dog!">
    	<br>
    	<br>
    	<button type="submit" class="btn btn-info col-xs-6 col-sm-4 col-xs-offset-3 col-sm-offset-4">Submit</button>
    </form>
    <br>
    <div class="container col-xs-12">
    	 <div class="list row">
    	 	<div class="col-xs-10 col-xs-offset-1">
 		{{#each dogs}}
                {{#if this.dog_image}}
                    <img src="../public/uploads/{{this.dog_image}}" class="text-center">
                {{/if}}
                <p>{{this.dog_name}}</p>
         {{/each}}
 			</div>   	
    	</div>
    </div>
    </div>
</body>
</html>